<div class="header">
	<div class="map-container">
		<a [routerLink]="['/']">
			<h1>{{ 'home' | translate }}</h1>
		</a>
		<span class="separator">|</span>
		<a [routerLink]="['/about-us']">
			<h1>{{ 'about_us' | translate }}</h1>
		</a>
		<span class="separator">|</span>
		<a [routerLink]="['/expectations']">
			<h1>{{ 'expectations' | translate }}</h1>
		</a>
	</div>

	<div class="select-container">
		<select (change)="changeLang($event.target.value)">
			<option value="en">EN</option>
			<option value="fr">FR</option>
		</select>
	</div>
</div>
