<div class="content">
	<div class="story-container">
		<div class="story-element img about-me"></div>
		<div class="story-element text">
			<p>{{ 'about-me-1' | translate }}</p>
		</div>
	</div>
	<div class="story-container">
		<div class="story-element text">
			<p>{{ 'about-me-2' | translate }}</p>
		</div>
		<div class="story-element img family"></div>
	</div>
	<div class="story-container">
		<div class="story-element img movies"></div>
		<div class="story-element text">
			<p>{{ 'about-me-3' | translate }}</p>
		</div>
	</div>
	<div class="story-container">
		<div class="story-element text">
			<p>{{ 'about-me-4' | translate }}</p>
		</div>
		<div class="story-element img running"></div>
	</div>
	<div class="story-container">
		<div class="story-element img music"></div>
		<div class="story-element text">
			<p>{{ 'about-me-5' | translate }}</p>
		</div>
	</div>
</div>
