<div class="content">
	<div class="story-container">
		<div class="story-element img quiet"></div>
		<div class="story-element text">
			<p>{{ 'expectations-1' | translate }}</p>
		</div>
	</div>
	<div class="story-container">
		<div class="story-element text">
			<p>{{ 'expectations-2' | translate }}</p>
		</div>
		<div class="story-element img communication"></div>
	</div>
	<div class="story-container">
		<div class="story-element img details"></div>
		<div class="story-element text">
			<p>{{ 'expectations-3' | translate }}</p>
		</div>
	</div>
	<div class="story-container">
		<div class="story-element text">
			<p>{{ 'expectations-4' | translate }}</p>
		</div>
		<div class="story-element img puzzle"></div>
	</div>
	<div class="story-container">
		<div class="story-element img team"></div>
		<div class="story-element text">
			<p>{{ 'expectations-5' | translate }}</p>
		</div>
	</div>
</div>
